In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('Supercharge Locations.csv', encoding='cp1252')

In [7]:
data.drop('Unnamed: 11', inplace=True, axis=1)

In [8]:
data

,Supercharger,Street Address,City,State,Zip,Country,Stalls,kW,GPS,Elev(m),Open Date
0,"Buellton, CA",555 McMurray Rd,Buellton,CA,93427,USA,10,150.0,"34.61456, -120.188387",114,7/13/2013
1,"Corning, CA",950 Hwy 99,Corning,CA,96021,USA,6,150.0,"39.926454, -122.198393",87,10/18/2013
2,"Barstow, CA",2812 Lenwood Rd,Barstow,CA,92311,USA,16,150.0,"34.849129, -117.085446",725,11/19/2012
3,"Tifton, GA",1310 U.S. 82,Tifton,GA,31794,USA,8,150.0,"31.448847, -83.53221",92,7/10/2014
4,"Roseville, CA",1151 Galleria Blvd,Roseville,CA,95678,USA,7,150.0,"38.771208, -121.266149",66,4/29/2014
...,...,...,...,...,...,...,...,...,...,...,...
5871,"Beijing - Haidian B+W Checker, China","69-1 Banjing Rd, Haidian District",Beijing,Beijing,NaN,China,2,120.0,"39.951088, 116.281837",58,NaN
5872,"Cagnes-sur-Mer – Polygone Riviera P2, France",27-9 Rue de la Grange Rimade,Cagnes-sur-Mer,Provence-Alpes-Côte d'Azur,6800,France,4,125.0,"43.666884, 7.124728",30,NaN
5873,"Naarden, Netherlands",IJsselmeerweg 3,Naarden,North Holland,1411 AA,Netherlands,32,150.0,"52.30858, 5.141127",2,NaN
5874,"Karlskrona, Sweden",Landbron 1 (private initiative but free for al...,Karlskrona,Blekinge,371 33,Sweden,2,60.0,"56.165403, 15.585989",4,NaN
5875,"Nürburgring, Germany",Dorint Am Nürburgring Hocheifel,Nürburg,NaN,53520,Germany,2,135.0,"50.3352, 6.949047",619,NaN

In [9]:
data.isnull().sum()

Supercharger         0
Street Address       0
City                 0
State              122
Zip               1929
Country              0
Stalls               0
kW                   6
GPS                  0
Elev(m)              0
Open Date          750
dtype: int64

In [10]:
data.dtypes

Supercharger       object
Street Address     object
City               object
State              object
Zip                object
Country            object
Stalls              int64
kW                float64
GPS                object
Elev(m)             int64
Open Date          object
dtype: object

In [11]:
data.describe()

            Stalls           kW      Elev(m)
count  5876.000000  5870.000000  5876.000000
mean      9.382063   206.315162   227.647720
std       6.122373    58.834023   416.123231
min       2.000000    60.000000  -380.000000
25%       6.000000   150.000000    14.000000
50%       8.000000   250.000000    67.000000
75%      12.000000   250.000000   249.000000
max      88.000000   250.000000  4338.000000

## Preprocessing the dates

In [12]:
data['Open Date'].fillna('1900-01-01', inplace=True)

data['Open Date'] = pd.to_datetime(data['Open Date'], errors='coerce')

print(data['Open Date'])

0      2013-07-13
1      2013-10-18
2      2012-11-19
3      2014-07-10
4      2014-04-29
          ...
5871          NaT
5872          NaT
5873          NaT
5874          NaT
5875          NaT
Name: Open Date, Length: 5876, dtype: datetime64[ns]

In [13]:
data

,Supercharger,Street Address,City,State,Zip,Country,Stalls,kW,GPS,Elev(m),Open Date
0,"Buellton, CA",555 McMurray Rd,Buellton,CA,93427,USA,10,150.0,"34.61456, -120.188387",114,2013-07-13
1,"Corning, CA",950 Hwy 99,Corning,CA,96021,USA,6,150.0,"39.926454, -122.198393",87,2013-10-18
2,"Barstow, CA",2812 Lenwood Rd,Barstow,CA,92311,USA,16,150.0,"34.849129, -117.085446",725,2012-11-19
3,"Tifton, GA",1310 U.S. 82,Tifton,GA,31794,USA,8,150.0,"31.448847, -83.53221",92,2014-07-10
4,"Roseville, CA",1151 Galleria Blvd,Roseville,CA,95678,USA,7,150.0,"38.771208, -121.266149",66,2014-04-29
...,...,...,...,...,...,...,...,...,...,...,...
5871,"Beijing - Haidian B+W Checker, China","69-1 Banjing Rd, Haidian District",Beijing,Beijing,NaN,China,2,120.0,"39.951088, 116.281837",58,NaT
5872,"Cagnes-sur-Mer – Polygone Riviera P2, France",27-9 Rue de la Grange Rimade,Cagnes-sur-Mer,Provence-Alpes-Côte d'Azur,6800,France,4,125.0,"43.666884, 7.124728",30,NaT
5873,"Naarden, Netherlands",IJsselmeerweg 3,Naarden,North Holland,1411 AA,Netherlands,32,150.0,"52.30858, 5.141127",2,NaT
5874,"Karlskrona, Sweden",Landbron 1 (private initiative but free for al...,Karlskrona,Blekinge,371 33,Sweden,2,60.0,"56.165403, 15.585989",4,NaT
5875,"Nürburgring, Germany",Dorint Am Nürburgring Hocheifel,Nürburg,NaN,53520,Germany,2,135.0,"50.3352, 6.949047",619,NaT

In [15]:
data['Open Date'].fillna('1900-01-01', inplace=True)

In [16]:
data

,Supercharger,Street Address,City,State,Zip,Country,Stalls,kW,GPS,Elev(m),Open Date
0,"Buellton, CA",555 McMurray Rd,Buellton,CA,93427,USA,10,150.0,"34.61456, -120.188387",114,2013-07-13
1,"Corning, CA",950 Hwy 99,Corning,CA,96021,USA,6,150.0,"39.926454, -122.198393",87,2013-10-18
2,"Barstow, CA",2812 Lenwood Rd,Barstow,CA,92311,USA,16,150.0,"34.849129, -117.085446",725,2012-11-19
3,"Tifton, GA",1310 U.S. 82,Tifton,GA,31794,USA,8,150.0,"31.448847, -83.53221",92,2014-07-10
4,"Roseville, CA",1151 Galleria Blvd,Roseville,CA,95678,USA,7,150.0,"38.771208, -121.266149",66,2014-04-29
...,...,...,...,...,...,...,...,...,...,...,...
5871,"Beijing - Haidian B+W Checker, China","69-1 Banjing Rd, Haidian District",Beijing,Beijing,NaN,China,2,120.0,"39.951088, 116.281837",58,1900-01-01
5872,"Cagnes-sur-Mer – Polygone Riviera P2, France",27-9 Rue de la Grange Rimade,Cagnes-sur-Mer,Provence-Alpes-Côte d'Azur,6800,France,4,125.0,"43.666884, 7.124728",30,1900-01-01
5873,"Naarden, Netherlands",IJsselmeerweg 3,Naarden,North Holland,1411 AA,Netherlands,32,150.0,"52.30858, 5.141127",2,1900-01-01
5874,"Karlskrona, Sweden",Landbron 1 (private initiative but free for al...,Karlskrona,Blekinge,371 33,Sweden,2,60.0,"56.165403, 15.585989",4,1900-01-01
5875,"Nürburgring, Germany",Dorint Am Nürburgring Hocheifel,Nürburg,NaN,53520,Germany,2,135.0,"50.3352, 6.949047",619,1900-01-01

## Preprocessing Zip Codes

In [17]:
data['Zip'].value_counts()

Zip
94403       5
95035       5
3400        5
9300        4
92130       4
           ..
8135-182    1
40241       1
93449       1
32725       1
371 33      1
Name: count, Length: 3518, dtype: int64

In [18]:
data['Zip'].fillna('00000', inplace=True)

In [19]:
data['Zip'] = data['Zip'].astype(str).str.zfill(5)

In [23]:
# Ensure consistency by removing any non-numeric characters
data['Zip'] = data['Zip'].str.replace(r'\D', '', regex=True)

In [24]:
data

,Supercharger,Street Address,City,State,Zip,Country,Stalls,kW,GPS,Elev(m),Open Date
0,"Buellton, CA",555 McMurray Rd,Buellton,CA,93427,USA,10,150.0,"34.61456, -120.188387",114,2013-07-13
1,"Corning, CA",950 Hwy 99,Corning,CA,96021,USA,6,150.0,"39.926454, -122.198393",87,2013-10-18
2,"Barstow, CA",2812 Lenwood Rd,Barstow,CA,92311,USA,16,150.0,"34.849129, -117.085446",725,2012-11-19
3,"Tifton, GA",1310 U.S. 82,Tifton,GA,31794,USA,8,150.0,"31.448847, -83.53221",92,2014-07-10
4,"Roseville, CA",1151 Galleria Blvd,Roseville,CA,95678,USA,7,150.0,"38.771208, -121.266149",66,2014-04-29
...,...,...,...,...,...,...,...,...,...,...,...
5871,"Beijing - Haidian B+W Checker, China","69-1 Banjing Rd, Haidian District",Beijing,Beijing,00000,China,2,120.0,"39.951088, 116.281837",58,1900-01-01
5872,"Cagnes-sur-Mer – Polygone Riviera P2, France",27-9 Rue de la Grange Rimade,Cagnes-sur-Mer,Provence-Alpes-Côte d'Azur,06800,France,4,125.0,"43.666884, 7.124728",30,1900-01-01
5873,"Naarden, Netherlands",IJsselmeerweg 3,Naarden,North Holland,1411,Netherlands,32,150.0,"52.30858, 5.141127",2,1900-01-01
5874,"Karlskrona, Sweden",Landbron 1 (private initiative but free for al...,Karlskrona,Blekinge,37133,Sweden,2,60.0,"56.165403, 15.585989",4,1900-01-01
5875,"Nürburgring, Germany",Dorint Am Nürburgring Hocheifel,Nürburg,NaN,53520,Germany,2,135.0,"50.3352, 6.949047",619,1900-01-01

## Preprocessing States

In [26]:
data['State'].fillna('Unknown', inplace=True)

In [32]:
state_abbrev_usa = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA',
    'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT',
    'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM',
    'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
    'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
    'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'District of Columbia': 'DC', 'Unknown': 'Unknown'
}

data['State'] = data['State'].map(state_abbrev_usa).fillna(data['State'])

In [31]:
# Example mappings for Canada (expand as needed)
province_abbrev_canada = {
    'Alberta': 'AB', 'British Columbia': 'BC', 'Manitoba': 'MB', 'New Brunswick': 'NB',
    'Newfoundland and Labrador': 'NL', 'Nova Scotia': 'NS', 'Ontario': 'ON', 'Prince Edward Island': 'PE',
    'Quebec': 'QC', 'Saskatchewan': 'SK', 'Northwest Territories': 'NT', 'Nunavut': 'NU', 'Yukon': 'YT',
    'Unknown': 'Unknown'
}

# Example mappings for Australia (expand as needed)
state_abbrev_australia = {
    'New South Wales': 'NSW', 'Queensland': 'QLD', 'South Australia': 'SA', 'Tasmania': 'TAS',
    'Victoria': 'VIC', 'Western Australia': 'WA', 'Australian Capital Territory': 'ACT',
    'Northern Territory': 'NT', 'Unknown': 'Unknown'
}

In [33]:
# Create a mapping function
def standardize_state(row):
    country = row['Country']
    state = row['State']
    
    if country == 'USA':
        return state_abbrev_usa.get(state, state)
    elif country == 'Canada':
        return province_abbrev_canada.get(state, state)
    elif country == 'Australia':
        return state_abbrev_australia.get(state, state)
    # Add more country-specific mappings here
    else:
        return state

In [37]:
data['State'] = data.apply(standardize_state, axis=1)

In [38]:
data['State'].value_counts()

State
CA           496
Guangdong    246
Zhejiang     224
Shanghai     183
FL           170
            ...
Olomouc        1
Aargau         1
Ibaraki        1
Ishikawa       1
Blekinge       1
Name: count, Length: 428, dtype: int64

In [39]:
data.isnull().sum()

Supercharger      0
Street Address    0
City              0
State             0
Zip               0
Country           0
Stalls            0
kW                6
GPS               0
Elev(m)           0
Open Date         0
dtype: int64

## Exporting the dataset

In [40]:
data.to_excel('tesla_superchargers.xlsx')